<nav class="title">
    TRIP IN STYLE
    <span id="filter" (click)="changeFilterMenuState()" [class.selected]="filterMenu"></span>
    <template [ngIf]="filterMenu">
        <ul class="filter">
            <li>Calendar</li>
            <li>Places</li>
            <ul>
                TOPICS
                <li *ngFor="let category of eventsService.categoryMenu">
                    <span class="subMenuTitle">{{category.title}}</span>
                    <span class="subMenuEnable">{{category.selected}}</span>
                </li>
            </ul>
        </ul>
    </template>
</nav>
<ul class="eventsList" [class.menuOpen]="filterMenu">
    <li *ngFor="let event of events">
        <img src="{{event.image}}"><span class="gradient"></span>
        <span id="title">{{event.title}}</span>
        <span id="summary">{{event.city}} | {{event.startDate}}</span>
    </li>
</ul>
<nav class="mainMenuNav">
    <ul>
        <li id="home" class="selected"></li>
        <li id="favorite"></li>
        <li id="ticket"></li>
        <li id="profil"></li>
    </ul>
</nav>